:root {
    --color-one: #1b1b1b;
    --color-hover: #5c5c5c;
}

.input {
    height: 40px;
    box-sizing: border-box;
    border-radius: 90px;
    color: var(--color-one);
    padding: 12px 34px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border: 2px solid var(--color-one);
    cursor: pointer;
    outline: none;
}

.input:hover, .input:focus, .input:focus-visible, .input:active {
    border-color: var(--color-hover);
}
