:root {
    --color-one: #1b1b1b;
    --color-hover: #5c5c5c;
}

.wrapper {
    margin-left: 10px;
    display: inline-block;
    margin-left: 5px;
    /* height: 100vh;
    overflow: scroll initial; */
}

.menu {
    max-height: 150;
    max-width: 300;
    overflow-y: scroll;
    background-color: #eee;
    padding: 0;
    list-style: none;
    position: relative;
}

.highlighted-index{
    background-color: #BFDBFE;
}

.selected-item{
    font-weight: bold;
}

.item {
    display: flex;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    flex-direction: column;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
}

.input {
    height: 40px;
    box-sizing: border-box;
    border-radius: 90px;
    color: var(--color-one);
    padding: 12px 34px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border: 2px solid var(--color-one);
    cursor: pointer;
    outline: none;
}

.input:hover, .input:focus, .input:focus-visible, .input:active {
    border-color: var(--color-hover);
}
