.grid-gallery {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-gap: 16px;
}

@supports (grid-template-rows: masonry) {
    .masonry-gallery {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
      grid-gap: 16px;
      grid-template-rows: masonry;
    }
  } else {
    .masonry-gallery {
      column-count: 5;
      column-gap: 16px;
    }

    .masonry-gallery-item {
      display: inline-block;
      width: 100%;
      margin-bottom: 16px;
    }
  }

/* .masonry-gallery img {
    width: 100%;
    display: block;
    margin-bottom: 1rem;
} */

/* img {
  max-width: 100%;
  max-height: 100%;
  height: auto;
  border-radius: 5px;
} */

.lightbox {
  display: flex;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.8);
  justify-content: center;
  align-items: center;
}
